.background {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  margin: 0;
  padding: 93px 40px;
  position: relative;
  width: 100%;
  max-width: 1920px;
}

.background .projects-grid {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 15px 40px;
  position: relative;
  width: 100%;
  max-width: 1196px;
}

.background .projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px;
  width: 100%;
  position: relative;
}

.background .project-card--braizen {
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow:
    0px 20px 60px -2.5px #0000000d, 0px 6.38px 19.15px -1.88px #0000000d, 0px 2.41px 7.24px -1.25px #0000000d, 0px 0.8px 2.39px -0.62px #0000000d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 320px;
}

.background .project-media {
  border-radius: 20px 20px 0px 0px;
  height: 240px;
  overflow: hidden;
  position: relative;
  width: 320px;
}

.background .project-image {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
  position: relative;
}

.background .project-card--braizen .project-image {
  background-image: url("/src/assets/braizen.png");
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
  height: 230px;
  left: -27px;
  position: relative;
  top: 35px;
  width: 347px;
}

.background .project-content {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 30px;
  position: relative;
  width: 320px;
}

.background .project-block {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.background .project-title {
  align-self: stretch;
  color: #333333;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.80px;
  line-height: 33.6px;
  margin-top: -1.00px;
  position: relative;
}

.background .project-details {
  align-self: stretch;
  height: 332.72px;
  position: relative;
  width: 100%;
}

.background .project-subtitle {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0px 0px 0.59px;
  position: absolute;
  top: -1px;
  width: 260px;
}


.background .text-wrapper-5 {
  color: #666666;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25.6px;
  margin-right: -1.00px;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.background .braizen-details {
  align-items: center;
  background-color: #222222;
  border-radius: 8px;
  box-shadow:
    0px 30px 30px -3.75px #0000000d, 0px 13.65px 13.65px -3.12px #0000001a, 0px 6.87px 6.87px -2.5px #00000021, 0px 3.62px 3.62px -1.88px #00000024, 0px 1.81px 1.81px -1.25px #00000024, 0px 0.71px 0.71px -0.62px #00000026;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  padding: 10.61px 15px 11.59px;
  position: relative;
}

.background .project-button-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}


.background .project-text-wrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 0px .8px;
  position: relative;
  width: 100%;
}

.background .text-wrapper-6 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 16.8px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.background .braizen-live-demo {
  align-items: center;
  background-color: #222222;
  border-radius: 8px;
  box-shadow:
    0px 30px 30px -3.75px #0000000d, 0px 13.65px 13.65px -3.12px #0000001a, 0px 6.87px 6.87px -2.5px #00000021, 0px 3.62px 3.62px -1.88px #00000024, 0px 1.81px 1.81px -1.25px #00000024, 0px 0.71px 0.71px -0.62px #00000026;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  padding: 10.61px 15px 11.59px;
  position: relative;
  margin-top: 10px;
}

.background .project-card {
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow:
    0px 20px 60px -2.5px #0000000d, 0px 6.38px 19.15px -1.88px #0000000d, 0px 2.41px 7.24px -1.25px #0000000d, 0px 0.8px 2.39px -0.62px #0000000d;
  display: flex;
  flex-direction: column;
  gap: 2.27e-13px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 320px;
}

.background .project-card--powershell {
}

.background .element-wrapper {
  align-items: flex-start;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 40px;
  width: 320px;
}

.background .element-ztdltzpjvu {
  height: 160px;
  object-fit: cover;
  position: relative;
  width: 320px;
}

.background .power-shell-wrapper {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 49.8px;
  justify-content: center;
  padding: 68px 30px;
  position: relative;
  width: 320px;
}

.background .project-text {
  align-self: stretch;
  color: #666666;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25.6px;
  margin-top: -1.00px;
  position: relative;
}

.background .powershell-learn {
  align-items: center;
  background-color: #222222;
  border-radius: 8px;
  box-shadow:
    0px 30px 30px -3.75px #0000000d, 0px 13.65px 13.65px -3.12px #0000001a, 0px 6.87px 6.87px -2.5px #00000021, 0px 3.62px 3.62px -1.88px #00000024, 0px 1.81px 1.81px -1.25px #00000024, 0px 0.71px 0.71px -0.62px #00000026;
  display: inline-flex;
  height: 41.19px;
  justify-content: center;
  overflow: hidden;
  padding: 11.8px 15px 11.59px;
  position: relative;
}

.background .project-card--canvas {
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow:
    0px 20px 60px -2.5px #0000000d, 0px 6.38px 19.15px -1.88px #0000000d, 0px 2.41px 7.24px -1.25px #0000000d, 0px 0.8px 2.39px -0.62px #0000000d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 320px;
}

.background .element-efd {
  height: 232px;
  left: 31px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 259px;
}

.background .project-content {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 19.1px;
  justify-content: center;
  padding: 30px;
  position: relative;
  width: 320px;
}

.background .developed-using-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 0px 0.69px;
  position: relative;
  width: 100%;
}

.background .project-box {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-top: -0.82px;
  padding: 0px 0px 0.77px;
  position: relative;
  width: 100%;
}

.background .canvas-learn-more {
  align-items: center;
  background-color: #222222;
  border-radius: 8px;
  box-shadow:
    0px 30px 30px -3.75px #0000000d, 0px 13.65px 13.65px -3.12px #0000001a, 0px 6.87px 6.87px -2.5px #00000021, 0px 3.62px 3.62px -1.88px #00000024, 0px 1.81px 1.81px -1.25px #00000024, 0px 0.71px 0.71px -0.62px #00000026;
  display: inline-flex;
  height: 40.9px;
  justify-content: center;
  overflow: hidden;
  padding: 11.51px 15px 11.59px;
  position: relative;
}

.background .canvas-live-demo {
  align-items: center;
  background-color: #222222;
  border-radius: 8px;
  box-shadow:
    0px 30px 30px -3.75px #0000000d, 0px 13.65px 13.65px -3.12px #0000001a, 0px 6.87px 6.87px -2.5px #00000021, 0px 3.62px 3.62px -1.88px #00000024, 0px 1.81px 1.81px -1.25px #00000024, 0px 0.71px 0.71px -0.62px #00000026;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  padding: 10.61px 15px 11.59px;
  position: relative;
  margin-top: 10px;
}

.background .project-card--finance {
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow:
    0px 20px 60px -2.5px #0000000d, 0px 6.38px 19.15px -1.88px #0000000d, 0px 2.41px 7.24px -1.25px #0000000d, 0px 0.8px 2.39px -0.62px #0000000d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 320px;
}

.background .finance-wrapper {
  align-items: flex-start;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: -14px;
  width: 320px;
}

.background .finance {
  align-self: stretch;
  height: 268px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.background .project-content {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 29.3px 30px 30px;
  position: relative;
  width: 320px;
}

.background .designed-to-help {
  color: #666666;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25.6px;
  margin-right: -4.00px;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.background .project-card--crime {
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow:
    0px 20px 60px -2.5px #0000000d, 0px 6.38px 19.15px -1.88px #0000000d, 0px 2.41px 7.24px -1.25px #0000000d, 0px 0.8px 2.39px -0.62px #0000000d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 320px;
}

.background .project-card--crime .project-image {
  background-image: url("/src/assets/crimescene.png");
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
  height: 192px;
  position: relative;
  top: 24px;
}

.background .project-details {
  align-self: stretch;
  height: 383.91px;
  position: relative;
  width: 100%;
}

.background .built-with-python-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: -1px;
  width: 260px;
}

.background .built-with-python {
  color: #666666;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25.6px;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.background .this-project-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 76px;
  width: 260px;
}

.background .project-card--cityview {
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow:
    0px 20px 60px -2.5px #0000000d, 0px 6.38px 19.15px -1.88px #0000000d, 0px 2.41px 7.24px -1.25px #0000000d, 0px 0.8px 2.39px -0.62px #0000000d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 320px;
}

.background .cvp-logo-wrapper {
  align-items: flex-start;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 13px;
  position: relative;
  top: 61px;
  width: 307px;
}

.background .cvp-logo {
  height: 118px;
  object-fit: cover;
  position: relative;
  width: 300px;
}

.background .project-content {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 51.9px;
  justify-content: center;
  padding: 29.3px 30px 30px;
  position: relative;
  width: 320px;
}

.background .city-view-learn-m {
  align-items: center;
  background-color: #222222;
  border-radius: 8px;
  box-shadow:
    0px 30px 30px -3.75px #0000000d, 0px 13.65px 13.65px -3.12px #0000001a, 0px 6.87px 6.87px -2.5px #00000021, 0px 3.62px 3.62px -1.88px #00000024, 0px 1.81px 1.81px -1.25px #00000024, 0px 0.71px 0.71px -0.62px #00000026;
  display: inline-flex;
  height: 41.1px;
  justify-content: center;
  overflow: hidden;
  padding: 11.71px 15px 11.59px;
  position: relative;
}


.background .heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  max-width: 600px;
  padding: 0 10px; 
}

.background .projects-title {
  color: #111111;
  font-family: "Inter", Helvetica;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -2.10px;
  line-height: 60px;
  margin: 0;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  white-space: nowrap;
}

.background .heading-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.background .text-wrapper-9 {
  color: #333333;
  font-family: "Inter", Helvetica;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -2.60px;
  line-height: 60px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}



.background .education-list {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 39px;
  justify-content: center;
  max-width: 1920px;
  position: relative;
  width: 1146px;
}

.background .preview-lg {
  height: 261px;
  object-fit: cover;
  position: relative;
  width: 338px;
}

.background .img {
  height: 273px;
  object-fit: cover;
  position: relative;
  width: 353px;
}

.background .screenshot {
  height: 260px;
  position: relative;
  width: 346px;
}

/* Mobile Responsive Styles */
@media (max-width: 720px) {
  .background {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 60px 20px;
  }
  .background .projects-grid {
    width: 100%;
    max-width: 100%;
    padding: 80px 20px;
  }
    .background .projects-list {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
    .background .heading-wrapper {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
    .background .projects-title {
    font-size: 40px;
    line-height: 48px;
    position: relative;
  }

  .background .education-list {
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 20px;
  }

  .background .preview-lg,
  .background .img,
  .background .screenshot {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  .background .projects-grid {
    padding: 60px 20px;
  }

  .background .project-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: auto;
  }
  /* all project cards position relative and add spacing for mobile */
  .background .project-card,
  .background .project-card--braizen,
  .background .project-card--powershell,
  .background .project-card--canvas,
  .background .project-card--finance,
  .background .project-card--crime,
  .background .project-card--cityview {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 400px;
    margin-bottom: 90px;
  }
    /* Adjust button positions to be relative */
  .background .braizen-live-demo,
  .background .canvas-live-demo {
    position: relative;
    left: 0;
    top: 0;
    margin-top: 10px;
  }
    .background .text-wrapper-9 {
    font-size: 36px;
    line-height: 44px;
  }
    .background .education-list {
    flex-direction: column;
    align-items: center;
  }
  
  /* adjust project media sizes */
  .background .project-media,
  .background .element-efd{
    height: 250px;
    object-fit: cover;
    position: relative;
    width: 320px;
  }

  .background .finance{
    height: 250px;
    object-fit: cover;
    position: relative;
    width: 320px;
  }
  .background .cvp-logo {
    height: 100px;
    object-fit: cover;
    position: relative;
    width: 280px;
  }
  .project-image {
    height: 250px;
    object-fit: cover;
    position: relative;
    width: 320px;
  }

  
}
