/* ===== Container Layout ===== */
.container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 1920px;
  margin: 0 -325px;
  position: relative;
}

/* ===== Text + Resume Section ===== */
.container-wrapper .container-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 766px;
  max-width: 1920px;
  padding: 50px 50px 95px;
  position: relative;
}

/* ===== Heading ===== */
.container-wrapper .heading {
  display: flex;
  flex-direction: column;
  width: 600px;
  position: relative;
}

.container-wrapper .text-wrapper {
  font-family: "Inter", Helvetica;
  font-size: 50px;
  font-weight: 700;
  color: #111;
  line-height: 60px;
  letter-spacing: -2.1px;
  white-space: nowrap;
  width: fit-content;
  margin-top: -1px;
  position: relative;
}

/* ===== Paragraph Containers ===== */
.container-wrapper .About_me_Section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 660px;
  max-width: 660px;
  position: relative;
} 

.container-wrapper .About_Headings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

.container-wrapper .p,
.container-wrapper .from-programming {
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 500;
  color: #888;
  line-height: 36px;
  letter-spacing: -0.7px;
  margin-top: -1px;
  align-self: stretch;
  position: relative;
}

/* adjust size for alternate paragraphs */
.container-wrapper .from-programming {
  font-weight: 400;
}

/* extra spacing between sections */
.container-wrapper .heading-margin {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

/* =====  Styling ===== */
.container-wrapper .span {
  font-weight: 500;
  letter-spacing: -0.17px;
}

.container-wrapper .text-wrapper-2 {
  font-weight: 700;
  letter-spacing: -0.17px;
}

/* =====  Statement ===== */
.container-wrapper .statement_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 660px;
  position: relative;
}

.container-wrapper .about-values-class {
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 500;
  color: #888;
  line-height: 36px;
  letter-spacing: -0.7px;
  margin-top: -1px;
  width: fit-content;
  position: relative;
}

/* ===== Resume Button Positioning ===== */
.container-wrapper .resume-instance {
  position: absolute !important;
  top: 400px !important;
  left: 184px !important;
}

/* ===== Image Section ===== */
.container-wrapper .mypic-wrapper {
  width: 362px;
  height: 543px;
  border-radius: 67px;
  position: relative;
}

.container-wrapper .mypic {
  width: 427px;
  height: 543px;
  position: absolute;
  top: -55px;
  left: -32px;
}

/* ===== Animation ===== */
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.container-wrapper .About_me_Section, .mypic,.about-values-class,
.container-wrapper .heading {
  animation: slideInLeft 3s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.container-wrapper .heading {
  animation-delay: 0.5s;
}

.container-wrapper .About_me_Section {
  animation-delay: 0.5s;
}


/* Mobile Responsive Styles */
@media (max-width: 1280px) {
  .container-wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 20px;
  }

  .container-wrapper .container-2 {
    width: 100%;
    max-width: 100%;
    padding: 30px 20px;
  }

  .container-wrapper .heading {
    width: 100%;
    max-width: 600px;
  }

  .container-wrapper .About_me_Section,
  .container-wrapper .statement_wrapper {
    width: 100%;
    max-width: 660px;
  }
}

@media (max-width: 968px) {
  .container-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .container-wrapper .text-wrapper {
    font-size: 40px;
    line-height: 48px;
    white-space: normal;
  }

  .container-wrapper .p,
  .container-wrapper .from-programming,
  .container-wrapper .about-values-class {
    font-size: 20px;
    line-height: 30px;
  }

  .container-wrapper .resume-instance {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    margin-top: 20px;
  }

  .container-wrapper .mypic-wrapper {
    margin-top: -30px;
  }
}

@media (max-width: 768px) {
  .container-wrapper .text-wrapper {
    font-size: 32px;
    line-height: 40px;
  }

  .container-wrapper .p,
  .container-wrapper .from-programming,
  .container-wrapper .about-values-class {
    font-size: 18px;
    line-height: 28px;
  }

  .container-wrapper .container-2 {
    gap: 15px;
    padding: 20px 15px;
  }

  .container-wrapper .mypic-wrapper {
    width: 280px;
    height: 450px;
  }

  .container-wrapper .mypic {
    width: 330px;
    height: 420px;
  }
}

@media (max-width: 480px) {
  .container-wrapper {
    padding: 15px;
  }

  .container-wrapper .text-wrapper {
    font-size: 28px;
    line-height: 36px;
  }

  .container-wrapper .p,
  .container-wrapper .from-programming,
  .container-wrapper .about-values-class {
    font-size: 16px;
    line-height: 24px;
  }

  .container-wrapper .mypic-wrapper {
    width: 240px;
    height: 360px;
  }

  .container-wrapper .mypic {
    width: 280px;
    height: 360px;
    left: -20px;
  }

  .container-wrapper .container-2 {
    padding: 15px 10px;
  }
}
