.element {
  background-image: url(https://c.animaapp.com/EX6GyRHq/img/-1720089-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 50px;
  position: relative;
  width: 50px;
}
