.profile {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  padding: 60px 20px;
}

.content-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.social-icons {
  display: flex;
  position: relative;
  gap: 20px;
  align-items: center;
  top: -80px;
  left: 145px
}

/* base style */
.social-icon {
  object-fit: contain;
  transition: transform 0.2s ease;
}
.github-icon {
  height: 50px;
  width: 50px;
}

.linkedin-icon {
  height: 50px;
  width: 45px;
}

.resume-icon {
  height: 71px;
  width: 71px;
}

/* Optional hover effect */
.social-icon:hover {
  transform: scale(1.1);
}


/* Skills Section */
.skills-section {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;

}

.skills-section h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #111;
  letter-spacing: -2px;
  font-family: "Inter", sans-serif;
  padding-bottom: 50px;
}

.skills-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start;
}

.skills-logos img {
  height: 80px;
  width: auto;
  object-fit: contain;
}
