.element {
  background-image: url('../../assets/youtube.png');
  background-position: 50% 50%;
  background-size: cover;
  height: 50px;
  position: relative;
  width: 50px;
  transform: scale(1.1);
}

.element:hover {
  transform: scale(1.25);
  cursor: pointer;
}